<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOMA DE PEDIDOS || Wings and Chunks || WAC-POS</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <div class="menu">
        <button class="menu-btn" onclick="showCategory('cat1')">
            <img src="/img/Wings.png" alt="Categoría 1" class="btn-image">
        </button>
        <button class="menu-btn" onclick="showCategory('cat2')">
            <img src="/img/Burger.png" alt="Categoría 2" class="btn-image">
        </button>
        <button class="menu-btn" onclick="showCategory('cat3')">
            <img src="/img/Pizza.png" alt="Categoría 3" class="btn-image">
        </button>
        <button class="menu-btn" onclick="showCategory('cat4')">
            <img src="/img/Cerveza.png" alt="Categoría 4" class="btn-image">
        </button>
    </div>
    <div class="container">
        <div class="content">
            <h2 id="Mesa" style="text-align: center;"></h2>
            <div id="cat1" class="category" style="display: none;">
                <button class="note-btn" onclick="addNoteToList('Nota 1')">Nota 1</button>
                <button class="note-btn" onclick="addNoteToList('Nota 2')">Nota 2</button>
                <button class="note-btn" onclick="addNoteToList('Nota 3')">Nota 3</button>
                <button class="note-btn" onclick="addNoteToList('Nota 4')">Nota 4</button>
                <button class="note-btn" onclick="addNoteToList('Nota 5')">Nota 5</button>
                <button class="note-btn" onclick="addNoteToList('Nota 6')">Nota 6</button>
                <button class="note-btn" onclick="addNoteToList('Nota 7')">Nota 7</button>
                <button class="note-btn" onclick="addNoteToList('Nota 8')">Nota 8</button>
            </div>
            <div id="cat2" class="category" style="display: none;">
                <button class="note-btn" onclick="addNoteToList('Nota 9')">Nota 9</button>
                <button class="note-btn" onclick="addNoteToList('Nota 10')">Nota 10</button>
                <!-- Añade más botones según sea necesario -->
            </div>
            <div id="cat3" class="category" style="display: none;">
                <button class="note-btn" onclick="addNoteToList('Nota 11')">Nota 11</button>
                <button class="note-btn" onclick="addNoteToList('Nota 12')">Nota 12</button>
                <!-- Añade más botones según sea necesario -->
            </div>
            <div id="cat4" class="category" style="display: none;">
                <button class="note-btn" onclick="addNoteToList('Nota 13')">Nota 13</button>
                <button class="note-btn" onclick="addNoteToList('Nota 14')">Nota 14</button>
                <!-- Añade más botones según sea necesario -->
            </div>
        </div>
        <div class="note-list">
            <button class="list-btn" id="btnSalir">Regresar</button>
            <button onclick="saveNotes()" class="list-btn">Guardar Pedido</button>
            <button onclick="clearNotes()" class="list-btn">Limpiar Pedido</button>
            <button class="list-btn" id="clearMesa">Cerrar Mesa</button>
            <hr>
            <br>
            <h3>Listado de Notas</h3>
            <div>Total: $<span id="totalValue">0.00</span></div>
            <ul id="noteList"></ul>
        </div>
    </div>
    <script src="/js/menu.js"></script>
</body>
</html>