<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOMA DE PEDIDOS || Wings and Chunks || WAC-POS</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="menu">
        <button class="menu-btn" onclick="showCategory('Alitas')">
            <img src="/img/Wings.png" alt="Categoría 1" class="btn-image">
        </button>
        <button class="menu-btn" onclick="showCategory('Burger')">
            <img src="/img/Burger.png" alt="Categoría 2" class="btn-image">
        </button>
        <button class="menu-btn" onclick="showCategory('Pizzas')">
            <img src="/img/Pizza.png" alt="Categoría 3" class="btn-image">
        </button>
        <button class="menu-btn" onclick="showCategory('Cerveza')">
            <img src="/img/Cerveza.png" alt="Categoría 4" class="btn-image">
        </button>
    </div>
    <div class="container">
        <div class="content" id="content">
            <h2 id="Mesa" style="text-align: center;"></h2>
            <div id="cat1" class="category" style="display: none;"></div>
            <div id="cat2" class="category" style="display: none;"></div>
            <div id="cat3" class="category" style="display: none;"></div>
            <div id="cat4" class="category" style="display: none;"></div>
        </div>
        <div class="note-list">
            <button class="list-btn" id="btnSalir">Regresar</button>
            <button onclick="saveNotes()" class="list-btn">Guardar Pedido</button>
            <button onclick="clearNotes()" class="list-btn">Limpiar Pedido</button>
            <button class="list-btn" id="clearMesa">Cerrar Mesa</button>
            <hr>
            <br>
            <h3>Listado de Notas</h3>
            <div>Total: $<span id="totalValue">0.00</span></div>
            <ul id="noteList"></ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/menu.js"></script>
</body>
</html>