@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1D1D1B;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1D1D1B;
    overflow: hidden;

    display: flex;
    height: 25vh;

    align-items: center;
    justify-content: space-around;
}

.header_logo{
    height: 100%;
}

a{
    text-decoration: none;
    text-align: center;
}

.container{
    width: 90%;
    height: 60vh;
    margin: 25px auto;
    border: 1px solid #ffffff;
    background-color: #1D1D1B;
    border-radius: 25px;
    box-shadow: 0 0 10px 5px #FF7602;
    color: #ffffff;

    display: flex;
    justify-content: center;
    overflow: hidden;
}

.btn-danger{
    width: 200px;
    height: 75px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 2px;
}